body {
    overflow-x: hidden; /* Why are we having overflow x? */
}

.btn-check:checked+.btn-secondary {
    background-color: #FF2D55;
    border-color: #FF2D55;
}

.btn-secondary {
    background-color: #eee;
    border-color: #eee;
    color: #333;
    padding: 5px 12px;
}

label.btn {
    margin-right: 5px;
}

.btn-secondary:hover {
    background-color: #ddd;
    border-color: #ddd;
    color:#333;
}

.btn-primary:hover{
    background-color: #FF2D55;
    border-color: #FF2D55;
}

.btn-primary:focus {
    background-color: #FF2D55;
    border-color: #FF2D55;
}

.btn-primary {
    background-color: #FF2D55;
    border-color: #FF2D55;
}

.btn-primary:disabled {
    background-color: #FF2D55;
    border-color: #FF2D55;
}

.btn {
    font-weight: 600;
}

.form-label {
    margin-bottom: 0.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* <=== Form ====> */
.form-text {
    color: #b2b2b2;
}

/* <=== Card ====> */
.card {
    background: #005678;
    font-weight: bold;
    box-shadow: 0px 0px 100px rgba(255, 42, 109, 0.3);
    border: none;
    color: #fefefe;
    transition: .5s all;
}

.card:hover{
    transform: scale(1.1);
    margin-left: 5rem;
    margin-right: 5rem;
}

.card-title {
    font-weight: bolder;
    color: #d1f7ff;
    text-shadow: 0 0 1px #d1f7ff;
}

h1, h2, p {
    font-family: Cyber;
    color: #fefefe;
}

.centered {
    text-align: center;
}

.home-body {
    width: 60%;
}

@-webkit-keyframes form-open {
    0% {
        -webkit-clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
        clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
    }
    50% {
        -webkit-clip-path: polygon(0 20px, 20px 0, 20px 0, 20px calc(100% - 20px), 0 100%, 0 100%);
        clip-path: polygon(0 20px, 20px 0, 20px 0, 20px calc(100% - 20px), 0 100%, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 20px, 20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
        clip-path: polygon(0 20px, 20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    }
}

@keyframes form-open {
    0% {
        -webkit-clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
        clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
    }
    50% {
        -webkit-clip-path: polygon(0 20px, 20px 0, 20px 0, 20px calc(100% - 20px), 0 100%, 0 100%);
        clip-path: polygon(0 20px, 20px 0, 20px 0, 20px calc(100% - 20px), 0 100%, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 20px, 20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
        clip-path: polygon(0 20px, 20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(-16px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(-16px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.form {
    display: grid;
    grid-gap: 36px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    padding: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    -webkit-clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
    clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
    -webkit-animation: form-open 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s;
    animation: form-open 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s;
}
.form > * {
    position: relative;
    opacity: 0;
    -webkit-animation: fade-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    animation: fade-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.form > *:nth-child(2) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.form > *:nth-child(3) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.form > *:nth-child(4) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.form > *:nth-child(5) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.form > *:nth-child(6) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.form__image {
    position: absolute;
    -webkit-animation: none;
    animation: none;
    opacity: 1;
    filter: blur(16px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url("https://res.cloudinary.com/dokf7npvg/image/upload/v1540355245/0jbUKoX.jpg");
    background-position: center;
    background-size: cover;
}

.form__logo {
    width: 90%;
    height: auto;
    justify-self: center;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input__element {
    border: 0;
    margin: 0;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.3);
    height: 46px;
    transition: box-shadow 0.4s ease;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}
.input__element:focus {
    box-shadow: inset 0 -2px 0 0 #fdee06;
    outline: none;
}

.input__label {
    font-size: 16px;
    position: absolute;
    left: 10px;
    color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.input__element:not(:-moz-placeholder-shown) + .input__label {
    top: -16px;
    left: 0;
    font-size: 14px;
    transform: translate3d(0, -5px, 0);
}

.input__element:not(:-ms-input-placeholder) + .input__label {
    top: -16px;
    left: 0;
    font-size: 14px;
    transform: translate3d(0, -5px, 0);
}

.input__element:focus + .input__label,
.input__element:not(:placeholder-shown) + .input__label {
    top: -16px;
    left: 0;
    font-size: 14px;
    transform: translate3d(0, -5px, 0);
}

.button {
    background: #05d9e8;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    text-transform: uppercase;
    text-align: left;
    padding: 0 20px;
    cursor: pointer;
}
.button:focus {
    outline: none;
}
.button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ff2a6d;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover:before, .button:focus:before {
    transform-origin: left center;
    transform: scaleX(1);
}

.button:hover .button__icon,
.button:focus .button__icon {
    transform: translate3d(10px, -50%, 0);
}

.button__label {
    color: #616161;
    position: relative;
}

/* Change button__label based on button's hover */
.button:hover > div.button__label {
    color: #FFCC00 !important;
}

.button__icon {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    right: 25px;
    width: 24px;
    height: 24px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.button__icon:before {
    content: "";
    height: 1px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    top: 12px;
}
.button__icon:after {
    content: "";
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 8px;
}

.madeWith {
    text-decoration: line-through;
}

@font-face {
    font-family: cyberpunk;
    src: url('../../resource/font/cyberpunk.ttf') format('.ttf');
    font-display: swap;
}

#signout {
    z-index: 9;
    max-height: 100px;
    min-width: 270px;
    margin: 0;
    transform: scale(0.7);
}
